.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  height: 100vh;
  background: rgba(200, 200, 200, 0.3);
}

.row {
  display: flex;
}

button {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(20, 20, 20, 0.9);
}

.tooltip > .tooltiptext {
  visibility: hidden;
  width: 375px;
  background-color: darkgray;
  color: black;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  z-index: 1;
  text-align: left;
}

.tooltiptext > .tooltipTitle {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
}

.tooltiptext > ul {
  list-style-type: none;
  padding-left: 0;
}

.tooltiptext > ul > li {
  padding: 0 1rem 1rem 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.radio_buttons {
  margin-top: 1rem;
  font-size: 1.15rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 1rem;
}

.row > textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(200, 200, 200, 0.5);
  font-size: 1.15rem;
}

.data {
  height: 100px;
}

.save_file {
  align-items: center;
  margin-top: 0.5rem;
}

.canvas {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

.more_information {
  text-align: left;
  margin-top: 2rem;
}
