.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;
  color: #fff;
  position: relative;
  border: rgb(250, 250, 250) solid 2rem;
  background-image: radial-gradient( circle at left 30%, rgba(34, 34, 34, 0.3), rgba(34, 34, 34, 0.3) 80px, rgba(34, 34, 34, 0.5) 100px, rgba(51, 51, 51, 0.5) 160px, rgba(51, 51, 51, 0.5)), linear-gradient( 215deg, transparent, transparent 100px, #222 260px, #222 320px, transparent), radial-gradient( circle at right, #111, rgba(51, 51, 51, 1));
}

.row {
  display: flex;
}

button {
  padding: 1rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(250, 250, 250, 0.5);
  color: #fff;
  background: none;
}

button:hover {
  background: rgba(250, 250, 250, 0.8);
  color: black;
}

.tooltip > .tooltiptext {
  visibility: hidden;
  width: 375px;
  background-color: darkgray;
  color: black;
  border-radius: 0.5rem;
  position: absolute;
  padding: 1rem;
  z-index: 1;
  text-align: left;
}

.tooltiptext > .tooltipTitle {
  font-weight: 700;
  font-size: 1.25rem;
  font-style: italic;
}

.tooltiptext > ul {
  list-style-type: none;
  padding-left: 0;
}

.tooltiptext > ul > li {
  padding: 0 1rem 1rem 0;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.radio_buttons {
  margin-top: 1rem;
  font-size: 1.15rem;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  margin-right: 1rem;
}

.row > textarea {
  padding: 0.5rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgba(200, 200, 200, 0.5);
  font-size: 1.15rem;
  color: rgba(250, 250, 250, 0.5);
  background: none;
}

.data {
  height: 100px;
}

.save_file {
  align-items: center;
  margin-top: 0.5rem;
}

.canvas {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  background: white;
}

.more_information {
  text-align: left;
  margin-top: 2rem;
}

.more_information > a:link {
  color: white
}

.more_information > a:hover {
  color: yellow
}

.more_information > a:visited {
  color: greenyellow;
}
